<% if @news.errors.any? %>
	<div class="error">
		<h4><%= pluralize(@news.errors.count, "error") %></h4>
		<span>There were problems with the following fields:</span>
		<ul>
			<% @news.errors.full_messages.each do |message| %>
				<li>* <%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>