
<div class="row">
	<div class="large-6 columns">
		<h1 class="index">All News</h1>
	</div>
	<div class="large-6 columns">
		<%= link_to "New News", new_news_path, :class => "buttons button" %>
	</div>
</div>

<hr>

<div class="row">
	<div class="large-12 columns">
		<ul class="news-list">
			<% for news in @news %>
				<li>
					<%= render 'news_index', :news => news %>
				</li>
			<% end %>
		</ul>
		<%= paginate @news %>
	</div>
</div>