.card{ align: 'center' }
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Header-Medium -->
  <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-8853705788192995" data-ad-slot="6214449267"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
