.center{:align => "center"}
  #page-title
    %h2 &lt;Hello World!/&gt;
  %hr/
  #about-description
    %p
      I am not a blogger, just a web developer, so you might not find great content around here, yet!
      But the idea is to create a Simple and Beautiful looking News website that publishes relevent and trending content related to select topics to the news feed at the home page, and gives the user a clean and beautiful reading experience.
  .medium
    %script{:async => "", :src => "https://static.medium.com/embed.js"}
    %a.m-profile{:href => "https://medium.com/@pranav7"} Pranav Singh
