
<div class="slideshow-wrapper">
<div class="preloader"></div>
<ul class="example-orbit" data-orbit>
	<% for news in @news %>
		<% if news.image? %>
			<li>
				<div class="image-container">
					<%= image_tag news.image_url %>
				</div>
			    <div class="orbit-caption">
  					<div class="title"><%= link_to news.title, news %></div>
  					<div class="category"><%= news.category.name %></div>
					</div>
			</li>
		<% end %>
	<% end %>
</ul>
</div>

<% for news in @news %>
	<%= render 'card', :news => news %>
<% end %>
