<div class="large-10 columns">
<div class="orbit-container">
	<ul class="example-orbit" data-orbit>
		<% for news in @news %>
			<% if news.created_at > 2.days.ago and news.image? %>
				<li>
					<%= image_tag news.image_url %>
				    <div class="orbit-caption">
      					<strong><%= news.title %></strong> <br/>
      					<%= news.category.name %>
   					</div>
				</li>
			<% end  %>
		<% end  %>
	</ul>
</div>
</div>