<div class="main">
<% if @news.empty? %>
	<h2>Jim's dead.</h2>
<% else %>
	<div class="cards-wrapper">
		<% for news in @news %>
			<%= render 'card', :news => news %>
		<% end %>
	</div>
<% end %>
</div>
