<div class="main">
	<div id="page-title">
		<h2><%= @title.upcase %></h2>
	</div>
	<hr>
<% if @news.empty? %>
	<h2>Jim's dead.</h2>
<% else %>
	<div id="cards-wrapper">
		<% for news in @news %>
			<%= render 'card', :news => news %>
		<% end %>
	</div>
<% end %>
</div>
