<div class="main">
<% if @news.empty? %>
	<h2>Jim's dead.</h2>
<% else %>
<% for news in @news %>
	<div class="small-6 columns">
		<%= render 'card', :news => news %>
	</div>
<% end %>
<% end %>
</div>
