/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

$font-stack: 'Roboto Slab', serif;
$font-roboto: 'Roboto', sans-serif;
$font-roboto-condensed: 'Roboto Condensed', sans-serif;
$content-color: #4E5860;

.logo {
	padding: 10px;
}

.side-bar {
	margin-top: 1.5em;
}

/* Footer */
.footer-top-border {
	background: #FFE44A;
	padding: 2px;
	margin-top: 5%;
}

.footer-top {
	width: 100%;
	background: #333333;
	padding: 10px;

	ul.footer-nav {
		margin-top: 1em;
		list-style: none;
		font-family: $font-roboto;
		font-size: 90%;

		li {
			margin-top: 0.2em;
		}
	}

	a {
		color: #C4C4C4;
		text-decoration: none;
	}

	a:hover {
		font-weight: bold;
		color: #ffffff;
	}
}

.footer-nav {

	a:link {
		color: #C4C4C4;
		text-decoration: none;
	}

	ul {
		list-style: none;
		color: #C4C4C4;
	}

	li a:link {
		color: #C4C4C4;
		text-decoration: none;
	}

	li a:hover {
		font-weight: bold;
		color: #ffffff;
	}
}

.footer-bottom {
	width: 100%;
	background: #454545;
	color: #C4C4C4;
}

.footer-bottom {
	p {
		margin-top: 10px;
		text-align: left;
		font-size: 80%;
	}
}

/* Flash Messages */

.flash {
	padding: 1.5em;
	font-style: $font-roboto;
	font-weight: 700;
	margin-top: 1.5em;
	-webkit-border-radius: 8px;
  	-moz-border-radius: 8px;
  	background-size: auto;
}

.notice {
  	background: #2ecc71;
	color: #fff;
}

.alert {
	background: #e74c3c;
	color: #fff;
}

.orbit-container {
	margin-top: 1.5em;
	margin-left: 1em;
	overflow: hidden;
	position: relative;
	width: 90% !important;
	font-style: $font-stack !important;
	background: none repeat scroll 0% 0% transparent;

	.example-orbit {
		list-style: none outside none; 
		position: relative;
		display: block;
		overflow: hidden;
	}

	.image-container {
		overflow: hidden;
		height: 400px;
		width: 100%;

		img {
			width: 100%;
		}
	}

	.orbit-caption {

		span.title {
			display: block;
			font-size: 115%;
			font-style: $font-stack !important;
			font-weight: 700;
		}

		span.category {
			color: #E6E6E6;
			font-size: 90%;
		}

		a {
			color: white;
		}

		a:hover {
			text-decoration: none;
			color: #fff;
		}

		a:visited {
			color: #fff;
		}
	}
}



