/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

$font-stack: 'Roboto Slab', serif;
$font-roboto: 'Roboto', sans-serif;
$font-noto: 'Enriqueta', serif;
$font-roboto-condensed: 'Roboto Condensed', sans-serif;
$content-color: #4E5860;

html, html a {
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
}


.header-wrapper {

	.logo {
		padding: 1em;
		width: 8.5em;
		padding-left: 1em !important;
	}

	.header-ad {
		width: auto;
		max-width: 100%;
		margin-top: 3em !important;
		padding-right: 1em !important;
		overflow: hidden;
	}
}

.side-ad {
	width: auto;
	padding-right: 2em;
	max-width: 100%;
	margin-top: 2em;
}

.main {
	margin-top: 2em;
}

.homepage {
	background: #F5F5F5;
}

.header {
	background: #fff;
}

.navigation {
	ul li {
		font-weight: 700;
	}
}

.side-bar {
	margin-top: 1.5em;
}

.content {
	h1 {
		font-family: $font-roboto;
		color: #2E3842;
		font-weight: 900;
		word-wrap: break-word;
		margin-top: 1em;
		font-size: 3.125em;
		letter-spacing: 0.01em;
		line-height: 1.15;
	}
	h4 {
		font-family: $font-stack;
		font-weight: 300;
		font-size: 1.7em;
		color: #999999;
		margin-bottom: 0.5em;
	}
}

#page-title {
	h2 {
		font-family: $font-stack;
		font-weight: 300;
		font-size: 2em;
		color: #BABABA;
	}
}

/* Footer */
.footer-top-border {
	background: #FFE44A;
	padding: 3px;
	margin-top: 5%;
}

.footer-top {
	width: 100%;
	background: #05131F;
	padding: 10px;

	ul.footer-nav {
		margin-top: 1em;
		list-style: none;
		font-family: $font-roboto;
		font-size: 90%;

		li {
			margin-top: 0.2em;
		}
	}

	a {
		color: #C4C4C4;
		text-decoration: none;
	}

	a:hover {
		font-weight: bold;
		color: #1A1A1A;
	}
}

.footer-nav {

	a:link {
		color: #C4C4C4;
		text-decoration: none;
	}

	ul {
		list-style: none;
		color: #C4C4C4;
	}

	li a:link {
		color: #C4C4C4;
		text-decoration: none;
	}

	li a:hover {
		font-weight: bold;
		color: #FFF154;
	}
}

.footer-bottom {
	width: 100%;
	background: #000D17;
	color: #C4C4C4;

	p {
		margin-top: 10px;
		text-align: left;
		font-size: 80%;
	}
}

/* Flash Messages */

.flash {
	padding: 1.5em;
	font-style: $font-roboto;
	font-weight: 700;
	margin-top: 1.5em;
	-webkit-border-radius: 8px;
   	-moz-border-radius: 10px 30px;
   	border-radius: 8px;
  	background-size: auto;
}

.notice {
  	background: #2ecc71;
	color: #fff;
}

.alert {
	background: #e74c3c;
	color: #fff;
}

.slideshow-wrapper {
	margin-top: 1.5em;
	overflow: hidden;
	width: 100% !important;

	.example-orbit {
		list-style: none outside none; 
		position: relative;
		display: block;
		overflow: hidden;
	}

	.image-container {
		height: 25em;
		width: 100%;
		overflow: hidden;

		img {
			min-width: 100%;
			height: auto;
			min-height: 100%;
		}
	}

	.orbit-caption {

		.title {
			font-style: $font-stack !important;
		}

		.category {
			color: #E6E6E6;
			font-size: 90%;
		}

		a {
			color: white;
		}

		a:hover {
			text-decoration: none;
			color: #fff;
		}

		a:visited {
			color: #fff;
		}
	}
}

#cards-wrapper {
	margin-top: 2em !important;
	width: 100%;
}

$card-width: 100%;
$card-height: auto;

.card {
	box-shadow: 0 1px 2px #aaa;
	background: white;
	margin-bottom: 1rem;
	border-radius: 3px;
	transform-origin: top left;
	max-width: 25em !important;
	width: $card-width;
	height: $card-height;
	overflow: hidden;
	vertical-align: top;

	.image {
		width: 100%;
		height: 225px;
		overflow: hidden;
	}

	.card-summary {
		width: 100%;
		padding-bottom: 1em;
		overflow: hidden;
		padding: 0.75em;

		#card-captions {
			display: inline-block;
			width: 100%;

			h2 {
				font-family: $font-roboto-condensed !important;
				font-size: 0.75rem;
				color: #969696 !important;
				font-weight: 400;
				display: inline;
			}
			a {
				color: #969696;
			}

			a:hover {
				color: #2c3e50;
			}
		}

		#card-title {
			display: inline-block;
			overflow: hidden;
			margin-top: 0.75em;

			h1 {
				font-size: 1.5rem !important;
				font-weight: 300 !important;
				line-height: 1.2 !important;
				font-family: $font-stack;
				display: inline;
			}
			a {
				color: #2c3e50;
			}

			a:hover {
				color: #6E6E6E;
			}
		}

		$line-height: 1.7;
		$lines-to-show: 4;
		$card-desc-font-size: 0.85rem;

		#card-content {
			overflow: hidden;
			max-height: 60%;
			margin-top: 1em;
			margin-bottom: 0.5em;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical; 

			p {
				font-family: $font-roboto;
				font-size: $card-desc-font-size;
				font-weight: 300 !important;
				line-height: $line-height;
				color: #666666;
				display: inline;
			}
		}
	}
}

.follow-us {
	float: left;
	margin-top: 3.5em;

	span {
		font-family: $font-roboto-condensed;
		font-weight: 300 !important;
		font-size: 90%;
		display:inline-block;
		vertical-align:top;
		margin-right:5px;
		margin-top:8px;
		color: #C4C4C4;
	}

	img {
		border:0;
		//width:32px;
		//height:32px;
		margin-left: 1px;
	}
}