.logo {
	padding: 10px;
}

.content {
	font-family: 'Droid Serif', serif;
	color: rgb(77, 77, 77);
}

.content h1, h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	line-height: 1.25;
	text-rendering: optimizelegibility;
	word-wrap: break-word;
}

.content p {
	font-size: 115%;
	line-height: 1.78;
	letter-spacing: .01em;
}

.footer-top-border {
	background: #FFE44A;
	padding: 2px;
	margin-top: 5%;
}

.footer_top {
	width: 100%;
	background: #333333;
	padding: 10px;
}

.footer_top .side-nav li a:link {
	color: #C4C4C4;
	text-decoration: none;
}

.footer_top .side-nav li a:hover {
	font-weight: bold;
	color: #ffffff;
}

.footer_top .side-nav li a:visited {
	color: #C4C4C4;
	text-decoration: bold;
}

.footer_bottom {
	width: 100%;
	background: #454545;
	color: #C4C4C4;
}

.footer_bottom p {
	margin-top: 10px;
	text-align: left;
	font-size: 80%;
}