.logo {
	padding: 10px;
}

.footer-top-border {
	background: #FFE44A;
	padding: 2px;
	margin-top: 5%;
}

.footer_top {
	width: 100%;
	background: #333333;
	padding: 10px;
}

.footer_top .footer_logo {
}

.footer_top .side-nav li a {
	color: white;
	text-decoration: none;
}

.footer_top .side-nav li a:hover {
	font-color: #FFE44A;
	font-weight: bold;
}

.footer_top .side-nav li a:visited {
	color: white;
	text-decoration: bold;
}

.footer_bottom {
	width: 100%;
	background: #454545;
	color: #EDEDED;
	padding: 15px
}