// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: 'Roboto Slab', serif;
$font-roboto: 'Roboto', sans-serif;
$font-content: 'Enriqueta', serif;
$font-heading: 'Chivo', sans-serif;
$font-roboto-condensed: 'Roboto Condensed', sans-serif;
$content-color: #4E5860;

/* Main Content */
.content {
	word-wrap: break-word;

	// Main Headings
	h1, h2 {
		font-family: $font-heading;
		color: #081E30;
		//font-weight: 900;
		word-wrap: break-word;
		margin-top: 1em;
		font-size: 3.125em;
		letter-spacing: -0.04em;
		line-height: 1.15;
	}

	// Sub Heading
	h4 {
		font-family: $font-stack;
		font-weight: 300;
		font-size: 1.7em;
		color: #999999;
		line-height: 1.15;
	}
}

#news-content{
	margin-bottom: 8em;

	// Content
	p {
		font-family: $font-content;
		font-style: normal;
		font-size: 125%;
		color: $content-color;
		line-height: 1.8;
		letter-spacing: 0.01em;
	}
}

.news-date {
	font-family: $font-roboto-condensed;
	font-size: 85%;
	color: #999999;
	margin-right: 2em;
}

.admin-buttons {
	float: right;
}

/* ADD NEWS FORM */
.add-content {
    height: auto;
    font-size: 110%;
    font-family: $font-content;
}

.add-sub-heading {
    height: auto;
    font-family: $font-stack;
    font-weight: 300;
	font-size: 1.25em;
	color: #999999;
}

.add-title {
    height: auto;
   	font-size: 1.25em;
    font-family: $font-roboto;
    font-weight: 900;
}

/* Fields */

.fields {
	label {
		font-family: $font-roboto;
		font-weight: 700;
	}
}

/* Error Fields */
.error {

	ul {
    	list-style: none;
    	text-align: left;
    }

    ul li {
    	font-size: 90%;
    	margin: 0.5em;
    	color: #e74c3c;
    	font-weight: bold;
    }

  	h4 {
		font-family: $font-roboto;
		font-weight: 700;
		color: #e74c3c;
	}

	span {
		font-weight: bold;
		color: #c0392b;
		font-style: $font-roboto;
		font-weight: 300;
		margin-top: 5px;
	}
}

.field_with_errors {
	
}

.fields {
	margin-top: 2em;
}

/* NEWS INDEX Page */

.buttons {
	margin-top: 3em;
	float: right;
}

ul.news-list {
	list-style: none;
	text-align: left;
	margin-left: -1em;
	padding: 8px;
	font-weight: 400;
	font-style: $font-stack !important;
}


ul.news-list li {
	margin-top: 1em;
}

.index-description {
	display: block;
	margin-top: 0.5em;
}

.index-date {
	font-style: $font-roboto;
	font-weight: 300;
	font-size: 80%;
	color: #878787;
	margin-right: 0.75em;
}

.index-title {
	display: block;

	a {
		color: #0F1B21;
	}

	a:hover {
		color: #c0392b;
	}
}

.news-image{
	display: block;
	margin-top: 2em;
	width: 100%;
	height: auto;
	overflow: hidden;
	img {
		display: block;
		vertical-align: middle;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
}

.image-courtesy {
	font-style: italic;
	font-size: 65%;
	font-family: $font-roboto;
	float: right;
	color: #999999;
	margin-top: 0.45em !important;
}

.social-likes {
	vertical-align: middle;
	margin-top: 0.75em !important;
	display: inline-block;

	.facebook {
		display: inline-block;
		margin-top: 0.75em !important;
	}

	.google {
		display: inline-block;
		margin-top: 0.75em !important;
	}

	.twitter {
		display: inline-block;
		margin-top: 0.75em !important;
	}
}

#comments {
	margin-top: 2em !important;

	h3 {
		font-family: $font-roboto-condensed;
		font-size: 98%;
		font-weight: 300;
		color: #999999;
	}
}

.embedded-video {
	margin-top: -5em;
	margin-bottom: 7em;

	#iFrame {
		width: 100%;
	}
}